@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #0F172A;
  --color-accent: #14B8A6;
  --color-background: #F8FAFC;
}

body {
  background-color: var(--color-background);
  color: var(--color-secondary);
  font-family: ui-sans-serif, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.dark body {
  background-color: var(--color-secondary);
  color: var(--color-background);
}
